/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dt,
dd,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
textarea,
button,
select,
table,
th,
tr,
td,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 폰트 초기화 */
body,
input,
button {
  color: #ecf0f1;
}

/* 불릿기호 초기화 */
ul,
li {
  list-style: none;
}

/* 폰트 스타일 초기화 */
em {
  font-style: normal;
}

/* 테두리 초기화 */
img {
  border: none;
}

/* input 초기화 */
input {
  border: none;
  outline: none;
}

/* 버튼 초기화 */
button {
  border: none;
}
